EXPO_PUBLIC_SUPABASE_URL=https://vscasdbufemkzrjyqddn.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_E7OafHI6Hhgvvp9zZzDaIQ_ZmSQr1l7
EXPO_PUBLIC_API_URL=http://localhost:8080
EXPO_PUBLIC_WORKER_URL=https://mysocialapp-upload.metrvsapke.workers.dev
